#header{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 2;
	height: 100px;
	background-color: gray;
	font-family: "Parkavenue", cursive;
	font-size: 23;
}

#pictures{
	position: absolute;
	z-index: 1;
	top: 100px;
	left: 0px;
	right:0px;
	bottom: 0px;
	overflow: auto;
	overflow-y: scroll;
}

.picture-table img{
	width: 100%;
}