.picture-table img{
	width: 100%;
	padding: 10px;
}

#pictures {
	background-color: #FFFFDD;
}

.jumbotron {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
	/*background-color: rgba(153,0,0,0.75);*/
	background-color: #002255;
	color: #A7A9AC;
	font-family: "Parkavenue", cursive;
}

body {
	padding-right: 2%;
	padding-left: 2%;
	background-color: #FFFFDD;
}

html {
	background-color: #FFFFDD;
}